<div *ngIf="users.length; else loading">
    <h2 class="text-center">Customers</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Sum Of Orders</th>
                <th>Payments</th>
                <th>Blocked</th>
                <th>BlockUser</th>
                <th>UnblockUser</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users; let idx = index">
                <td>{{ idx + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.sumOfOrders }}</td>
                <td>{{ user.payment }}</td>
                <td>{{ user.inBlackList }}</td>
                <td><button (click)="blockUser(user)" class="btn btn-success">Block user</button></td>
                <td><button (click)="unblockUser(user)" class="btn btn-success">Unblock user</button></td>

            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>
